# Subversion, CVS, and GIT
.svn/
.cvs/
.git/

# Python Eggs
**/__pycache__/**
**/*.egg-info/**
.eggs

# Python Setup
bin/
build/
dist/

# Debian
packaging/upstream/**
autolatex*.deb
autolatex*.dsc
autolatex*.changes
autolatex*.buildinfo
autolatex*.tar.gz

# IDE files
autolatex.sh
.idea
.jedi

# Temp files
*.bak
*~
